DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_READ_DOT_ENV_FILE=True

SECRET_KEY=change-me-for-local-development-only
DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,backend

CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,http://localhost:3000,http://127.0.0.1:3000

DATABASE_URL=postgres://besat_user:besat_password@db:5432/besat_site

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

LANGUAGE_CODE=fa-ir
TIME_ZONE=Asia/Tehran

STATIC_URL=/static/
MEDIA_URL=/media/

ADMIN_URL=admin/